ntust/teamwork/teamwork/__pycache__/wsgi.cpython-36.pyc
ntust/teamwork/teamwork/__pycache__/urls.cpython-36.pyc
ntust/teamwork/teamwork/__pycache__/settings.cpython-36.pyc
ntust/teamwork/teamwork/__pycache__/__init__.cpython-36.pyc
ntust/teamwork/team/migrations/__pycache__/__init__.cpython-36.pyc
ntust/teamwork/team/migrations/__pycache__/0001_initial.cpython-36.pyc
ntust/teamwork/team/__pycache__/views.cpython-36.pyc
ntust/teamwork/team/__pycache__/urls.cpython-36.pyc
ntust/teamwork/team/__pycache__/models.cpython-36.pyc
ntust/teamwork/team/__pycache__/admin.cpython-36.pyc
ntust/teamwork/team/__pycache__/__init__.cpython-36.pyc
