<!DOCTYPE html>
<html>
<head>
	<title>BUILDPIA</title>
</head>
<body>
<table class = "table">
	<tr>
		<th>專案名稱</th>
		<th>負責人</th>
		<th>專案簡述</th>
	</tr>

	{% for userHasActivity in user_has_activity %}
	<tr>
		<td>{{ userHasActivity.activity.name }}</td>
		<td>{{ userHasActivity.activity.pia_manager_name }}</td>
		<td>{{ userHasActivity.activity.description }}</td>
	</tr>
	{% endfor %}
	<a href="/team/pia_examine"><button>選取</button></a>
</table>
<br></br>
<a href="/team/new_pia"><button>新增PIA</button></a>
<!-- <button><a href="/team/new_pia/">新增PIA</a></button> -->
</body>
</html>