<!DOCTYPE html>
<html>

<head>
	<title>新增PIA</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/static/css/noscript.css" /></noscript>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body,
		h1,
			{
			font-family: "Microsoft JhengHei"
		}
	</style>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body style="font-family:Microsoft JhengHei" ;>

	<!-- Contact Section -->
	<div class="w3-padding-64 w3-content w3text-light-grey" id="wrapper">
		<h1>新增PIA</h1>
		<hr style="width:1000px" class="w3-opacity">


		<form method="post" action="login_sign/" onsubmit="return">


			<p>PIA名稱：<input type="text" name="pia_name" required="required"></p>
			<p>專案負責人：<input type="text" name="activitym_name" required="required"></p>
			<p>專案負責人Email：<input type="text" name="activitym_email" required="required"></p>
			<p>PIA執行者：<input type="text" name="piam_name" required="required"></p>
			<p>PIA負責人Email：<input type="text" name="piam_email" required="required"></p>




			<p>描述：<input type="text" name="description"></p>

			<hr style="width:1000px" class="w3-opacity">

			<br>
			<input style="float: right;width:100px" type="submit" value="提交">


		</form>

	</div>

</body>

</html>