<!DOCTYPE html>
<html>
<title>新增PIA</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/main.css" />
<noscript>
	<link rel="stylesheet" href="/static/css/noscript.css" /></noscript>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Microsoft JhengHei" 
	}

	.w3-row-padding img {
		margin-bottom: 12px
	}

	/* Set the width of the sidebar to 120px */
	.w3-sidebar {
		width: 120px;
		background: #222;
	}

	/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
	#main {
		margin-left: 120px
	}

	/* Remove margins from "page content" on small screens */
	@media only screen and (max-width: 600px) {
		#main {
			margin-left: 0
		}
	}
</style>

<body class="">

	<!-- Contact Section -->
	<div class="w3-padding-64 w3-content w3text-light-grey" id="wrapper">
		<h1>新增PIA</h1>
		<hr style="width:1000px" class="w3-opacity">


		<form method="post" action="login_sign/" onsubmit="return">

			<p>PIA名稱:<input type="text" name="pia_name"></p>

			<p>PIA負責人:<input type="text" name="piam_name"></p>

			<p>PIA負責人Email:<input type="text" name="piam_email"></p>

			<p>專案負責人:<input type="text" name="activitym_name"></p>

			<p>專案負責人Email:<input type="text" name="activitym_email"></p>

			<p>描述:<input type="text" name="description"></p>

			<hr style="width:1000px" class="w3-opacity">

			<br>
			<input style="width:100px" type="submit" value="新增">

		</form>

	</div>

</body>

</html>