<!DOCTYPE html>
<html>
<head>
	<title>Pia detail</title>
	<style>
    td.graph{
      width:100px;
      height:100px;
      border: 2px solid gray;
      border-collapse: collapse;
    }
    th, td {
      /*padding: 50px;*/
      text-align: center;    
    }
    th.stakeholder{
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
      font-weight:bold;
    }
    td.stakeholder{
      padding: 5px;
      border: 1px solid black;
      border-collapse: collapse;
    }
    table.stakeholder{
      padding: 10px;
      border: 2px solid black;
      border-collapse: collapse;
    }
	</style>
</head>
<body>
<table class = "table" font-family: "Microsoft JhengHei" >
	<h1>專案基本資料</h1>
	<h2>專案名稱</h2>
	<h4>{{ activity.name }}</h4>
	<h2>PIA負責人姓名</h2>
	<h4>{{ activity.pia_manager_name }}</h4>
	<h2>PIA負責人信箱</h2>
	<h4>{{ activity.pia_manager_email }}</h4>
	<h2>專案負責人姓名</h2>
	<h4>{{ activity.activity_manager_name }}</h4>
	<h2>專案負責人信箱</h2>
	<h4>{{ activity.activity_manager_email }}</h4>
	<h2>專案簡述</h2>
	<h4>{{ activity.description }}</h4>
	<h2>專案建立日期</h2>
	<h4>{{ activity.date }}</h4>
	<hr>
	<h1>專案GDPR適法性評估</h1>
	{% for question in question_1 %}
	{% for answer in answer_all %}
	{% if answer.question.id == question.id %}
	<h2>{{ question.description }}</h2>
	<h4>{{ answer.context }}</h4>
	{% endif %}
	{% endfor %}
	{% endfor %}
	<hr>

	<h1>專案參與的利益相關者</h1>
	<table class="stakeholder">
		<tr class="stakeholder">
			<th class="stakeholder">姓名</th>
			<th class="stakeholder">角色</th>
			<th class="stakeholder">信箱</th>
			<th class="stakeholder">參與專案部分</th>
			<th class="stakeholder">回饋</th>
		</tr>
		{% for stakeholder in stakeholder_all %}

		<tr class="stakeholder">
			<td class="stakeholder">{{ stakeholder.name }}</td>
			<td class="stakeholder">{{ stakeholder.role }}</td>
			<td class="stakeholder">{{ stakeholder.email }}</td>
			<td class="stakeholder">{{ stakeholder.part }}</td>
			<td class="stakeholder">{{ stakeholder.feedback }}</td>
		</tr>
		{% endfor %}
	</table>

	<h1>Dataflow</h1>
	<div>{{ swimlane.svg | safe }}</div>




	<h1>適用評估之項目</h1>
	<table  class="stakeholder">
	  <tr>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">流程</td> 
        <td  class="stakeholder" align="center"><span style="font-size:20px;">個人隱私資料</td>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">嚴重性</td>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">人員/系統</td>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">風險</td>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">可能性</td>
        <td  class="stakeholder" align="center"><span style="font-size:20px;">描述</td>
      </tr>
      {% for evaluation in evaluation_all %}
      <tr>
        <td align="center" rowspan="4"  class="stakeholder">{{ evaluation.process.name }}</td>
        <td align="center" rowspan="4"  class="stakeholder">{{ evaluation.pii.name }}</td>
        <td align="center" rowspan="4"  class="stakeholder">{{ evaluation.pii.value }}</td>

        {% if evaluation.participant_id is None %}
        <td  align="center" rowspan="4"  class="stakeholder">{{ evaluation.system.name }}</td>
        {% else %}
        <td align="center" rowspan="4"  class="stakeholder">{{ evaluation.participant.name }}</td>
        {% endif %}

        {% for item in evaluation_item_all %}
        {% if item.evaluation_id == evaluation.id %}
        <tr>
        	<td  class="stakeholder">{{ item.risk }}</td>  
        	<td  class="stakeholder">{{ item.probability }}</td>
        	<td  class="stakeholder">{{ item.description }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tr>  
      {% endfor %}
	</table>


<br></br>
<a href="/team/activity_list/"><button>返回</button></a>
<!-- <button><a href="/team/new_pia/">新增PIA</a></button> -->
</body>
</html>