<!DOCTYPE html>
<html>
<head>
	<title>利益相關者</title>
	<script>
		function add_new_data() {
		 // 先取得目前的row數
		 var num = document.getElementById("mytable").rows.length;
		 //建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
		 var Tr = document.getElementById("mytable").insertRow(num);
		 //建立新的td 而Tr.cells.length就是這個tr目前的td數
		 Td = Tr.insertCell(Tr.cells.length);
		 //而這個就是要填入td中的innerHTML
		 Td.innerHTML='<input name="name" type="text">';
		 //這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
		 Td = Tr.insertCell(Tr.cells.length);
		 Td.innerHTML='<input name="role" type="text">';
		 //記得td數目要一樣 不然會亂掉~
		 Td = Tr.insertCell(Tr.cells.length);
		 Td.innerHTML='<input name="email" type="text">';
		 Td = Tr.insertCell(Tr.cells.length);
		 Td.innerHTML='<input name="part" type="text">';
		 Td = Tr.insertCell(Tr.cells.length);
		 Td.innerHTML='<input name="feedback" type="text">';
		 Td = Tr.insertCell(Tr.cells.length);
		 Td.innerHTML='<button onclick="remove_data()">刪除欄位';
		}
	</script>
	<script>
		function remove_data() {
		//先取得目前的row數
		var num = document.getElementById("mytable").rows.length;
		//防止把標題跟原本的第一個刪除
		if(num >2){
		var td = event.target.parentNode;
		var tr = td.parentNode;
		tr.parentNode.removeChild(tr);
			}
		}
	</script>
</head>
<body>
	<h1>描述利益相關者</h1>
	<form action="" method="post">
		{% csrf_token %}
		<table id = "mytable">
		  <tr>
		    <td>姓名</td>
		    <td>角色</td>
		    <td>email</td>
		    <td>參與專案部分</td>
		    <td>回饋</td>
		  </tr>
		  <tr>
		    <td>
		    <input name="name" type="text">
		    </td>
		    <td>
		    <input name="role" type="text">
		    </td>
		    <td>
		    <input name="email" type="text">
		    </td>
		    <td>
		    <input name="part" type="text">
		    </td>
		    <td>
		    <input name="feedback" type="textarea">
		    </td>
		    <td>
		   	<button type="button" onclick="remove_data()">刪除欄位</button>
		    </td>	
		  </tr>
		</table>
		<button type="button" onclick="add_new_data()">新增欄位</button>
		<input type="submit" name="ok" value="提交">
	</form>
</body>
</html>