<!DOCTYPE html>
<html>
<head>
	<title>
		閥值
	</title>
</head>
<body>
	<h1>回答是或否</h1>
	<form action="." method="post">
		{{% csrf_token %}}
		1. 這項專案/系統會涉及到收集到有關個人的新信息？
		<input type="radio" name="q1" value="y"> 是
		<input type="radio" name="q1" value="n"> 否<br>
		2.關於個人敏感性的信息是否可能引起隱私問題或期望，例如：健康記錄，犯罪記錄或人們會認為特別私密的其他信息？
		<input type="radio" name="q2" value="y"> 是
		<input type="radio" name="q2" value="n"> 否<br>
		3.您是否正在使用有關個人的信息，以達到目前尚未使用的目的，或者目前尚未使用的方式？
		<input type="radio" name="q3" value="y"> 是
		<input type="radio" name="q3" value="n"> 否<br>
		4.取得該信息的方式會不會使人感覺被侵害？
		<input type="radio" name="q4" value="y"> 是
		<input type="radio" name="q4" value="n"> 否<br>
		5.個人的信息是否會被第三方取得？
		<input type="radio" name="q5" value="y"> 是
		<input type="radio" name="q5" value="n"> 否<br>
		6.該計畫是否涉及可能被視為侵犯隱私的新技術(生物辨識、面部辨識)？
		<input type="radio" name="q6" value="y"> 是
		<input type="radio" name="q6" value="n"> 否<br>
		7.是否有任何相關文件支援專案/系統？
		<input type="radio" name="q7" value="y"> 是
		<input type="radio" name="q7" value="n"> 否<br>
		8.專案/系統需求規格？
		<input type="radio" name="q8" value="y"> 是
		<input type="radio" name="q8" value="n"> 否<br>
		9.這次的PIA是否會導致您對個人產生重大影響？ <!-- 不確定翻譯 -->
		<input type="radio" name="q9" value="y"> 是
		<input type="radio" name="q9" value="n"> 否<br>
		<input type="submit" vaule="送出">
	</form>
</body>
</html>